{:company/legal-name "Valero Energy Corporation"
 :company/lei "549300XTO5VR8SKV1V74"
 :company/jurisdiction "US-TX"
 :company/website "https://www.valero.com"
 :company/ticker "NYSE:VLO"
 :itonami.blueprint/robotics false
 :required-technologies [:identity :audit-ledger]
 :itonami.blueprint/maturity :implemented}
